
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47.8rem;
}.quick-brief-CbS {
  padding: 6.6rem 3.1rem 6.4rem 2.4rem;
  width: 100%;
  height: 76.8rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;

  .ocean-one-is-a-landing-page-website-for-a-community-who-cares-and-take-actions-about-plastic-waste-in-the-ocean-specifically-in-pacific-ocean-their-actions-are-mostly-empowering-local-community-in-pacific-countries-to-help-reduce-plastic-waste-which-includes-raise-awareness-about-plastic-waste-environmental-impact-waste-management-they-are-open-with-suggestion-about-logo-design-fonts-specific-in-colors-please-use-variations-of-royal-blue-03256c-persian-blue-2541b2-green-blue-1768ac-aero-06bee1-white-ffffff-please-take-a-look-on-a-details-for-each-section-on-the-notes-ipg {
    max-width: 42.3rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';

    .ocean-one-is-a-landing-page-website-for-a-community-who-cares-and-take-actions-about-plastic-waste-in-the-ocean-specifically-in-pacific-ocean-their-actions-are-mostly-empowering-local-community-in-pacific-countries-to-help-reduce-plastic-waste-which-includes-raise-awareness-about-plastic-waste-environmental-impact-waste-management-they-are-open-with-suggestion-about-logo-design-fonts-specific-in-colors-please-use-variations-of-royal-blue-03256c-persian-blue-2541b2-green-blue-1768ac-aero-06bee1-white-ffffff-please-take-a-look-on-a-details-for-each-section-on-the-notes-ipg-sub-0 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .ocean-one-is-a-landing-page-website-for-a-community-who-cares-and-take-actions-about-plastic-waste-in-the-ocean-specifically-in-pacific-ocean-their-actions-are-mostly-empowering-local-community-in-pacific-countries-to-help-reduce-plastic-waste-which-includes-raise-awareness-about-plastic-waste-environmental-impact-waste-management-they-are-open-with-suggestion-about-logo-design-fonts-specific-in-colors-please-use-variations-of-royal-blue-03256c-persian-blue-2541b2-green-blue-1768ac-aero-06bee1-white-ffffff-please-take-a-look-on-a-details-for-each-section-on-the-notes-ipg-sub-1 {
    }
  }
}
