
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.section-two-Gu6 {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  padding: 15.9rem 12.886rem 18.1rem 15.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  background-color: #ffffff;

  .offset-your-plastic-footprint-z4Q {
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 81.614rem 7rem 0rem;
    max-width: 34.3rem;
    font-size: 3.6rem;
    font-weight: 400;
  }
  .group-2-G1v {
    flex-shrink: 0;
    margin: 0rem 0rem 3rem 0.2rem;
    width: calc(100% - 0.2rem);
    height: 16.8rem;
    display: flex;
    align-items: center;

    .auto-group-xlvt-nW4 {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .align-wNx {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1725;
      }
      .of-people-73-of-millennials-are-willing-to-pay-more-for-products-and-services-from-companies-committed-to-positive-social-and-environmental-impact-UNt {
        max-width: 31.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-cytd-KuJ {
      padding-left: 10.1rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-ghao-Tkc {
        flex-shrink: 0;
        margin-right: 9.7999rem;
        display: flex;
        flex-direction: column;

        .kickstart-1XE {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.1rem;
        }
        .ocean-one-are-a-turnkey-solution-to-begin-the-journey-of-reducing-your-businesss-environmental-footprint-or-going-plastic-neutral-YGG {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.0001rem;
          max-width: 32.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
        }
      }
      .auto-group-rqck-CLp {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .amplify-YvU {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.1725;
        }
        .is-your-actions-already-making-strides-in-its-commitment-to-sustainability-measure-your-action-success-using-impact-Ht4 {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.0141rem;
          max-width: 31.8rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
        }
      }
    }
  }
  .auto-group-xjty-YZ6 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 12.3141rem;
    height: 5.3rem;

    .group-3-HFn {
      height: 100%;
      font-family: Roboto, 'Source Sans Pro';
      display: flex;
      border-radius: 3rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      font-size: 1.6rem;
      justify-content: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin-right: 22.7rem;
      width: 19.3rem;
      white-space: nowrap;
      align-items: center;
    }
    .group-4-YBi {
      cursor: pointer;
      font-weight: 400;
      color: #000000;
      border-radius: 3rem;
      margin-right: 22.6rem;
      height: 100%;
      display: flex;
      flex-shrink: 0;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      align-items: center;
      width: 19.3rem;
      font-size: 1.6rem;
      background-color: #d9d9d9;
      white-space: nowrap;
      justify-content: center;
    }
    .group-5-pQ8 {
      height: 100%;
      line-height: 1.1725;
      align-items: center;
      border-radius: 3rem;
      flex-shrink: 0;
      width: 19.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      background-color: #d9d9d9;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
  }
}
