
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.section-four-qrp {
  box-sizing: border-box;
  padding-top: 12.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.section-four-qrp .project-1--Znp {
  margin-bottom: 1.4rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.section-four-qrp .oceanbound-clean-up-gMe {
  margin-bottom: 4.2rem;
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-xzvw-ox4 {
  margin-right: 7.3rem;
  width: calc(100% - 7.3rem);
  height: 39rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-xzvw-ox4 .rectangle-4-MCt {
  margin-right: 6.2rem;
  width: 72rem;
  height: 39rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-xzvw-ox4 .auto-group-xhxm-hGk {
  margin: 9.9rem 0rem 13.8rem 0rem;
  width: 58.5rem;
  height: calc(100% - 23.7rem);
  flex-shrink: 0;
}
.section-four-qrp .auto-group-xzvw-ox4 .auto-group-xhxm-hGk .problems-psA {
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.section-four-qrp .auto-group-xzvw-ox4 .auto-group-xhxm-hGk .plastic-recycling-generates-plastic-waste-effluent-as-a-standard-part-of-the-process-this-dirty-discharge-known-as-mud-is-at-risk-of-being-discharged-into-the-wastewater-and-in-the-best-case-is-usually-taken-to-the-nearest-landfill-xyN {
  max-width: 58.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.section-four-qrp .auto-group-bcek-Pon {
  margin: 0rem 0rem 11.5rem 7.6rem;
  width: calc(100% - 7.6rem);
  height: 39rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-bcek-Pon .auto-group-99u9-X9J {
  margin: 9.6rem 7.2rem 9.5rem 0rem;
  width: 57.2rem;
  height: calc(100% - 19.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-bcek-Pon .auto-group-99u9-X9J .solution-F5J {
  margin-bottom: 2.9rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-bcek-Pon .auto-group-99u9-X9J .repurposes-the-mud-into-useful-building-materials-its-composition-is-perfect-for-producing-bricks-unfortunately-these-recycled-plastic-compound-bricks-are-slightly-more-expensive-than-standard-building-bricks-so-impac-program-incentivizes-the-reuse-of-the-mud-in-the-bricks-by-making-them-competitive-on-the-open-market-Ai4 {
  margin-right: 0.5rem;
  max-width: 56.7rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.section-four-qrp .auto-group-bcek-Pon .rectangle-5-kAU {
  width: 72rem;
  height: 39rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.section-four-qrp .project-2--HAQ {
  margin-bottom: 1.4rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.section-four-qrp .fishing-net-recovery-pAL {
  margin-bottom: 4.2rem;
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-yurd-9TW {
  margin-right: 13.1rem;
  width: calc(100% - 13.1rem);
  height: 39rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-yurd-9TW .rectangle-6-Hpc {
  margin-right: 7.8rem;
  width: 72rem;
  height: 39rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-yurd-9TW .auto-group-j1wm-Ejr {
  margin: 10.3rem 0rem 7.2rem 0rem;
  width: 51.2rem;
  height: calc(100% - 17.5rem);
  flex-shrink: 0;
}
.section-four-qrp .auto-group-yurd-9TW .auto-group-j1wm-Ejr .problems-YkY {
  margin-bottom: 4.5rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.section-four-qrp .auto-group-yurd-9TW .auto-group-j1wm-Ejr .fishing-gear-nets-and-ropes-pose-a-significant-risk-to-sea-life-if-cut-away-in-the-ocean-unfortunately-incentives-do-not-exist-to-recover-this-gear-so-at-the-end-of-its-life-most-gets-landfilled-or-simply-cut-away-at-sea-its-a-huge-reason-for-why-fishing-nets-are-the-largest-ocean-plastic-polluter-eYg {
  max-width: 51.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.section-four-qrp .auto-group-rygp-b6Y {
  margin-left: 10.6rem;
  width: calc(100% - 10.6rem);
  height: 39rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-rygp-b6Y .auto-group-hj9m-Vhi {
  margin: 10.3rem 7.2rem 14.2rem 0rem;
  width: 54.2rem;
  height: calc(100% - 24.5rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-rygp-b6Y .auto-group-hj9m-Vhi .solution-ysn {
  margin-bottom: 4.5rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.section-four-qrp .auto-group-rygp-b6Y .auto-group-hj9m-Vhi .we-provides-the-funds-needed-to-incentivize-collection-and-recycling-of-this-gear-this-program-creates-a-pathway-for-the-reclamation-of-end-of-life-fishing-gear-umS {
  max-width: 54.2rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.section-four-qrp .auto-group-rygp-b6Y .rectangle-7-Nuv {
  width: 72rem;
  height: 39rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
